body{
    background-image: url(fondo3.jfif);
}
h1{
    text-align: center;
    color: rgb(18, 19, 19);
    font-size: 48px;
    font-weight: bold;
    background-color: rgba(221, 160, 63, 0.79);
    
}
.barra-nav{ 
    width: 100%;
    height: 7vh;
    background-color: rgba(196, 163, 29, 0.893);
}
ul{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
li{
    font-size: 32px;
    list-style: none;
}
ul li a{
    color: rgb(136, 93, 8);
}